<ion-header>
  <ion-toolbar>
      <ion-title>Votaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item *ngFor="let entry of opciones" (click)="next(entry)">
    <ion-label>
      ID:{{entry.event_id}}
      <br>
      Pregunta a votar:{{entry.question}}
      <br>
      Opciones:{{entry.options}}
    </ion-label>
    <ion-button (click)="votar(entry.event_id, entry.question, entry.opciones)"> Seleccionar </ion-button>
  </ion-item>
</ion-list>
<ion-content class="ion-padding">

</ion-content>
