<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="font-size: 30px;">Registrarse en la plataforma Anon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="icon" src="assets/icon/voto-electronico.png" alt="15">
  <form autocomplete="off" (submit)="doSigin()" class="credentials">
    <ion-item>
      <ion-label position="stacked" class="font"> Nombre <span class="text-danger">*</span></ion-label>
      <ion-input type="text" style="font-size: 25px;" name="name" required="true"></ion-input>
    </ion-item>
    <form #formulario='ngForm'>
      <ion-item>
        <ion-label position="stacked" class="font"> Correo electrónico <span class="text-danger">*</span></ion-label>
        <ion-input type="email" style="font-size: 25px;" [(ngModel)]="email" name="email" 
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required="true"></ion-input>
      </ion-item>
    </form>
    <ion-item>
      <ion-label position="stacked" class="font"> Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input style="font-size: 25px;" [(ngModel)]="password" type="password" name="password" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="font"> Confirmar Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input style="font-size: 25px;" [(ngModel)]="cpassword" type="password" name="cpassword" required="true"></ion-input>
    </ion-item> 
    <ion-button class="ion-margin-top" type="submit" expand="block">Registrarse</ion-button>
  </form>
</ion-content>
