<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-icon name="arrow-back-circle-outline" size="large" routerLink="/menu-organization"></ion-icon>
       <ion-title>Nueva Votacion</ion-title>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" size="large" routerLink="/questions-padron">
    Asignar padrón <ion-icon size="large" name="people-outline" ></ion-icon>
          </ion-button>
  <ion-button expand="block" size="large" routerLink="/menu-questions">
    Asignar Preguntas <ion-icon size="large" name="people-outline" ></ion-icon>
          </ion-button>
  <ion-button expand="block" size="large" routerLink="/menu-organization">
    Crear <ion-icon size="large" name="people-outline" ></ion-icon>
          </ion-button>
    
</ion-content>
