<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-circle-outline" size="large" routerLink="/login"></ion-icon>
    <ion-title  class="ion-text-center">Recover-pass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="icon" src="assets/icon/voto-electronico.png" alt="15">
  <ion-item>
    <ion-label position="fixed">Correo </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button (click)="recover()"shape="round">Recover <ion-icon size="large" name="send-outline"></ion-icon></ion-button>
</ion-content>
