img{
    height: 40vh;
    width: 40vh;
    margin: auto;
    display: block;
  }
  ion-button{
    height: 10vh;
    width: 20vh;
    margin: auto;
    display: block;
  }
  ion-icon {
    padding-left: 5%;
  }