.icon{
    max-width: 32vh;
    display: block;
    margin: 0 auto;
    padding-top: 20px;

}

.font{
    font-size: 30px;
}

ion-input, ion-item{
    --background: transparent;
}
ion-content{
    --background: aliceblue;
}

.text-danger{
    color: #cf3c4f;
}

.credentials{
    margin: 0 auto;
    max-width: 80%;
    font-size: 30px;
}