<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="font-size: 30px;">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <img class="icon" src="assets/icon/voto-electronico.png" alt="15">
  <form autocomplete="off" (submit)="doLogin()" class="credentials">
    <form #formulario='ngForm'>
      <ion-item>
        <ion-label position="stacked" class="font"> Correo electrónico <span class="text-danger">*</span></ion-label>
        <ion-input type="email" style="font-size: 25px;" [(ngModel)]="email" name="email" 
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required="true"></ion-input>
      </ion-item>
    </form>
    <ion-item>
      <ion-label position="stacked" class="font"> Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input style="font-size: 25px;" [(ngModel)]="password" type="password" name="password" required="true"></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" type="submit" expand="block">Entrar</ion-button>
  </form>
  <div class="ion-text-center ion-margin-top" class="font">
    <a routerLink="/recover-pass"><small>Olvidé mi Contraseña</small></a>
  </div>
  <div class="ion-text-center ion-margin-top" class="font">
    <a routerLink="/sig-in"><small>Registrarse</small></a>
  </div>
   <ion-button expand="block"  (click)="loginGoogle()">
      <ion-icon name="logo-google"></ion-icon>
      Iniciar Sesión con Google
    </ion-button>
</ion-content>