<ion-content><img class="icon" src="assets/icon/voto-electronico.png" alt="15">
  
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="organizations">
      <ion-icon name="people"></ion-icon>
      <ion-label>Organizaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-organizations">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mis organizaciones</ion-label>
    </ion-tab-button>
   
    <ion-tab-button tab="vote">
      <ion-icon name="archive"></ion-icon>
      <ion-label>Votaciones</ion-label>
    </ion-tab-button>
   
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Mi cuenta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
